.card-container {
  padding-left: 15px;
  padding-bottom: 30px;
}
.flip-card {
  -webkit-box-shadow: 0 14px 30px -8px #777777;
  -moz-box-shadow: 0 14px 30px -8px #777777;   
  box-shadow: 0 14px 30px -8px #777777; 
}
.description {
  box-shadow: 0 14px 30px -8px #777777;  
}

.show-more {
  z-index: -5;
  width: 100%;
}
.more-text, .less-text {
  text-shadow: 1px 1px white;
  color: #7A7A7A;
}  